@font-face {
  font-display: swap;
  font-family: UnicodeBindumathi;
  font-weight: 400;
  size-adjust: 120%;
  src: url(../fonts/bindumathi.woff) format("woff2");
}
.font-sinhala {
  font-family: UnicodeBindumathi;
}
